extends layout
block content
  script(src="include/axios.js")
block content
  .sAWr#app
    h4 List of active rooms
    .button(style="width:100px" @click="addRoom()") Add room
    .sAbox
      .sArow(v-for="item in rooms")
        .sArowTitle id: <b>{{item.id}}</b>, date created: <b>{{moment(item.dateCreate).format('DD.MM.YYYY HH:mm:ss')}}</b>
        .sArrowLink
          a(:href="'test/'+item.publicUUID+'/ru'" _target="blank") Test
          span &nbsp;
          a(:href="'moderator/'+item.uuid" _target="blank") Moderator
          span &nbsp;&nbsp;&nbsp;&nbsp;
          a(:href="'#'" style="color:red" @click="deleteRoom(item)") delete

      .sStext show {{rooms.length}} records of {{total}}, start of: {{skip}}
  script(src="include/axios.js")
  script(src="include/vue.min.js")
  script(src="include/moment.min.js")
  script.
    "use strict"
    let app = new Vue({
      el:"#app",
      data:{
        rooms:[],
        total:0,
        skip:0
      },
      methods:{
        deleteRoom:async function(item) {
          let r = await axios.delete("api/room/"+item.id);
          this.rooms = this.rooms.filter(r=>{return r.id!=item.id});
        },
        addRoom:async function(){
          let r=await axios.post("api/room");
          this.rooms=r.data.concat(this.rooms);
        }
      },
      mounted:async function (){
        let r=await axios.get("api/room");
        this.rooms=r.data.rooms;
        this.total=r.data.total;
        this.skip=r.data.skip;

      }
    });


